<table class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= link_to "表示", task_path(task), class: "btn btn-primary btn-sm" %></td>  
      </tr>
    <% end %>
  </tbody>
</table>