<div class="row">
  <div class="col-md-4">
    <%= render 'site_sections/site_section_info', site_section: @site_section %>
  </div>
  <div class="col-md-8">
    <%= render 'tasks/form', site_section: @site_section %>
  </div>
</div>
