<div class="jumbotron">
  <h1 class="display-4 fw-bold">GenbaFlow</h1>
  <p class="lead">施工管理1〜2年目向けの、工区ごとの工程・タスク管理アプリです。<br>タスクの抜け漏れをなくし、現場全体でカバーし合える体制をつくります。</p>
  <hr class="my-4">
  <p>ログインして、今日やるべきタスクを確認しましょう。</p>

  <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary btn-lg" %>
</div>