<table class="table">
  <thead>
    <tr>
      <th>現場名</th>
      <th>住所</th>
      <th>開始日</th>
      <th>終了日</th>
    </tr>
  </thead>
  <tbody>
    <% sites.each do |site| %>
      <tr>
        <td><%= link_to site.name, site %></td>
        <td><%= site.address %></td>
        <td><%= l(site.start_date, format: :date) %></td>
        <td><%= site.end_date ? l(site.end_date, format: :date) : "未設定" %></td>
      </tr>
    <% end %>
  </tbody>
</table>