<div class="row">
  <div class="col-md-4">
    <%= render 'sites/site_info', site: @site %>
  </div>
  <div class="col-md-8">
    <%= link_to "現場工区の編集", edit_site_site_sections_path(@site), class: "btn btn-warning" %>
    <div class="mt-4">
      <% if @site.site_sections.any? %>
        <%= render 'site_sections/site_sections', site_sections: @site.site_sections %>
      <% else %>
        <h3 class="mb-3">現場工区が登録されていません。</h3>
        <p>「現場工区の編集」から工区を登録してください。</p>
      <% end %>
    </div>
  </div>
</div>