<div class="row">
  <div class="col-md-4">
    <%= render 'sites/site_info', site: @site %>
    <h2 class="mt-4">現場担当者一覧</h2>
    <%= render 'users/users', users: @site.members %>
  </div>
  <div class="col-md-8">
    <h2>タスク一覧</h2>
    <div class="mt-4">
      <% if @tasks.any? %>
        <%= render 'tasks/tasks', tasks: @tasks %>
      <% else %>
        <h3 class="mb-3">タスクが登録されていません。</h3>
      <% end %>
    </div>
  </div>
</div>